BR2_k1=y
BR2_KERNEL_HEADERS_CUSTOM_TARBALL=y
BR2_KERNEL_HEADERS_CUSTOM_TARBALL_LOCATION="$(call github,kalray,linux_coolidge,c609fd64dd6c3dc9a6f31c48087b7ed59a3d708e)/linux-c609fd64dd6c3dc9a6f31c48087b7ed59a3d708e.tar.gz"
BR2_TOOLCHAIN_BUILDROOT_LOCALE=y
BR2_PTHREAD_DEBUG=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
