BR2_k1=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="$(call github,kalray,linux_coolidge,0c125173ababbd31f16b00fd46e2e9f56ab59604)/linux-0c125173ababbd31f16b00fd46e2e9f56ab59604.tar.gz"
BR2_LINUX_KERNEL_DEFCONFIG="default"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="board/k1/linux.fragment"
BR2_TARGET_ROOTFS_INITRAMFS=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_TARGET_BAREBOX=y
BR2_TARGET_BAREBOX_CUSTOM_TARBALL=y
BR2_TARGET_BAREBOX_CUSTOM_TARBALL_LOCATION="$(call github,kalray,barebox,a6966fa168cee1e5c4a153c93aa13d9678dc3b58)/barebox-a6966fa168cee1e5c4a153c93aa13d9678dc3b58.tar.gz"
BR2_TARGET_BAREBOX_BOARD_DEFCONFIG="generic"
